body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1DB954;
    color: white;
    padding: 20px;
}

.search-bar {
  background-color: #f7f7f7;
  border: none;
  color: #000000;
  text-align: center;
  padding: 8px 15px;
  border-radius: 20px;
  width: 300px;
}

.search-btn {
  background-color: #29e204;
  border: none;
  color: #000000;
  padding: 6px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px;
    
}

.featured {
    /* Mantieni lo stile originale per .featured */
    margin-bottom: 50px;
}

.song {
    display: inline-block; /* Imposta il display a inline-block per le singole canzoni */
    margin-right: 20px; /* Aggiungi un margine destro tra le canzoni */
    margin-bottom: 20px; /* Aggiungi un margine inferiore tra le righe di canzoni */
}

/* Rimuovi la regola per le immagini delle canzoni */
.song img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

footer {
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px; /* Riduci il padding */
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 2cm; /* Imposta un'altezza massima */
    overflow: hidden; /* Nascondi eventuali contenuti oltre l'altezza massima */
}

.btn-play {
  background-color: #1DB954;
  border: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
    
}

.light-mode header {
    background-color: #1DB954;
    color: white;
}

.light-mode .search-bar {
    background-color: #f7f7f7;
    color: #000000;
}

.light-mode .search-btn {
    background-color: #29e204;
    color: #000000;
}

.light-mode nav ul li a {
    color: #000000;
    text-align: center;
}

.light-mode main {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .featured {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .song {
    background-color: #ffffff;
    color: #000000;
}

.light-mode footer {
    background-color: #1DB954;
    color: #000000;
}

.light-mode .btn-play {
    background-color: #1DB954;
    color: #ffffff;
}

/* Stili per il tema scuro */
.dark-mode {
    background-color: #383838;
    color: #ffffff;
    
}

.dark-mode header {
    background-color: #383838;
    color: white;
}

.dark-mode .search-bar {
    background-color: #090909;
    color: #ffffff;
}

.dark-mode .search-btn {
    background-color: #29e204;
    color: #ffffff;
}

.dark-mode nav ul li a {
    color: #ffffff;
    text-align: center;
}

.dark-mode main {
    background-color: #222222;
    color: #ffffff;
}

.dark-mode .featured {
    background-color: #222222;
    color: #ffffff;
}

.dark-mode .song {
    background-color: #383838;
    color: #ffffff;
}

.dark-mode footer {
    background-color: #383838;
    color: hsl(0, 0%, 100%);
}

.dark-mode .btn-play {
    background-color: #1DB954;
    color: #ffffff;
}